.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  user-select: none;
}

body{
  color: var(--tg-theme-text-color);
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-style: normal;

  margin: 10px;
}

.pieChart{
  user-select: none;
}

.pieChart *{
  user-select: none;
}

header {
  padding: 10px 0px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

.MuiChip-root.MuiChip-clickable:hover{
  background-color: var(--tg-theme-hint-color);
}
